body {
  text-align: center;
  background-color: cornflowerblue;
}


.productContainer {
display: flex;
flex-wrap: wrap;

}

.productContainer > li {
  text-align: center;
  width: 300px;
  box-shadow: 0 0 10px black;
  margin: 10px;
  list-style-type: none;
  
  }
.productContainer > li:hover {
  background-color: lightgrey;
}